// 站点主色
// tips: 要达到整站主题修改效果, 请确保[$--color-primary]站点主色与[/src/element-ui-theme/index.js]文件中[import './element-[#17B3A3]/index.css']当前主题色一致

// 顶部（系统名字栏）背景
$--color-primary: #17B3A3;

// Navbar
$navbar--background-color: $--color-primary;
// 左边菜单整体背景
$sidebar--background-color-dark: #33403e;
// 当前被操作对象字体颜色
$sidebar--color-text-dark: #f1f4f5;
// 右边内容背景颜色
$content--background-color: #f1f4f5;
